*{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
html{
    padding:0px;
    margin:0px;
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding:0px;
    margin:0px;
}
#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgb(49, 49, 88);
}
#header h1{
    font-size: 75px;
    margin: 0px;
}
#roll-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-holder{
    margin-left: 1rem;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(16,50px); /* Adjust the number of columns as needed */
    gap: 0px;
    /*No user-select so people don't actually highlight anything*/
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.cell {
    width: 50px;
    height: 20px;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.painted {
    background-color: #000;
    color:#fff;
}
.painted.cell:hover {
    background-color: #525252;
    color:#fff;
}
.cell:hover {
    background-color: #aeaeae; /* Adjust the color as needed */
}
#row-1, #row-5, #row-9, #row-13{
    border-left: 2px solid #000;
}
#row-16{
    border-right: 2px solid #000;
}
.playing{
    background-color: #97e6ac;
    color:greenyellow;
}
.playing.painted{
    background-color: green;
}
#slidecontainer{
    display: flex;
    flex-direction: row;
}
.note-name{
  display: none;
}

